    /* Import Google font - Poppins */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

    
    ::selection{
      color: #fff;
      background: #6990F2;
    }
    .wrapper{
      width: 430px;
      background: #fff;
      border-radius: 5px;
      padding: 0px 20px 30px 20px;
      /* box-shadow: 7px 7px 12px rgba(0,0,0,0.05); */
    }
    .wrapper header{
      color: #6990F2;
      font-size: 27px;
      font-weight: 600;
      text-align: center;
    }
    .wrapper form{
      height: 250px;
      display: flex;
      /* cursor: pointer; */
      margin: 10px 10px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 5px;
      /* border: 2px dashed #6990F2; */
    }
    form :where(i, p){
      color: #6990F2;
    }
    form i{
      font-size: 50px;
    }
    form p{
      margin-top: 15px;
      font-size: 16px;
    }

    .form-control {
        width: 200px;
    }
    
    section .row{
      margin-bottom: 10px;
      background: #E9F0FF;
      list-style: none;
      padding: 15px 20px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    section .row i{
      color: #6990F2;
      font-size: 30px;
    }
    section .details span{
      font-size: 14px;
    }

    
    @media only screen and (max-width: 768px){
      .wrapper {
        width: 300px ;
      }
    }
    
    .add_amount {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .badge {
        width: 50px;
        --bs-badge-padding-x: 0.9em;
        --bs-badge-padding-y: 0.55em;
        --bs-badge-font-size: 0.75em;
        --bs-badge-font-weight: 700;
        --bs-badge-color: #fff;
        --bs-badge-border-radius: 0.45rem;
        display: inline-block;
        padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
        font-size: var(--bs-badge-font-size);
        font-weight: var(--bs-badge-font-weight);
        line-height: 1;
        color: var(--bs-badge-color);
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: var(--bs-badge-border-radius, 0);
      }